@import '~@fluentui/react/dist/sass/References.scss';

.apolloViewerReact {
  overflow: hidden;
  padding: 1em;
  color: $ms-color-themeDark;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
  background-color: $ms-color-themeLight;
  padding: 20px;
}

.button {
  // Our button
  text-decoration: none;
  height: 32px;

  // Primary Button
  min-width: 80px;
  background-color: $ms-color-themePrimary;
  border-color: $ms-color-themePrimary;
  color: $ms-color-white;

  // Basic Button
  outline: transparent;
  position: relative;
  font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: $ms-font-size-m;
  font-weight: $ms-font-weight-regular;
  border-width: 0;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0 16px;
  margin: 0 10px;

  .label {
    font-weight: $ms-font-weight-semibold;
    font-size: $ms-font-size-m;
    height: 32px;
    line-height: 32px;
    margin: 0 4px;
    vertical-align: top;
    display: inline-block;
  }
}

.apolloMission {
  border: 1px solid $ms-color-themePrimary;
  padding: 5px;
  margin-bottom: 5px;
}

.missionDetailLabel {
  text-align: 'right';
  font-weight: 'bold';
  padding-bottom: 5px;
}
.missionDetailValue {
  text-align: 'left';
}
